<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hqyj.zsj.mapper.BlogMapper">
    <!-- 映射Article结果集-->
<resultMap id="BlogMap" type="blog">
    <id column="blog_id" property="blogId"/>
    <result column="blog_title" property="blogTitle"/>
    <result column="blog_time" property="blogTime"/>
    <result column="blog_content" property="blogContent"/>
    <result column="blog_type" property="blogType"/>
    <result column="blog_state" property="blogState"/>
    <association property="user">
        <id property="userId" column="user_id"/>
        <result property="userName" column="username"/>
    </association>

</resultMap>
    <select id="blogList" resultMap="BlogMap">
         SELECT
            b.`blog_id`,
            b.`blog_title`,
            b.`blog_time`,
            b.`blog_content`,
            b.`blog_type`,
            b.`blog_state`,
            u.`user_id`,
            u.`username`

        FROM
            `blog` b
            LEFT JOIN `user` u ON b.`blog_author` = u.`user_id`
        WHERE
        b.`blog_state`=#{blogState}
        <if test="blogTitle!=null and blogTitle!=''">
            and b.`blogTitle` like concat('%',#{blogTitle},'%')
        </if>
    </select>
    <select id="myBlogList" resultMap="BlogMap">
        SELECT
        b.`blog_id`,
        b.`blog_title`,
        b.`blog_time`,
        b.`blog_content`,
        b.`blog_type`,
        b.`blog_state`,
        u.`user_id`,
        u.`username`

        FROM
        `blog` b
        LEFT JOIN `user` u ON b.`blog_author` = u.`user_id`
        WHERE
        b.`blog_state`=#{blogState} and b.`blog_author`=(select user_id from `user` where username=#{userName})

    </select>
    <update id="changeBlogState">
        update `blog`
        set `blog_state`=#{blogState}
        where `blog_title`=#{blogTitle}
        and `blog_author` = (
                          select `user_id`
                          from `user`
                          where `username`= #{userName} )
    </update>
    <delete id="deleteBlog">
        delete from `blog` where `blog_title`=#{blogTitle}
        and `blog_author`=(
                          select `user_id`
                          from `user`
                          where `username`= #{userName} )
    </delete>
    <select id="selectBlogType" resultType="com.hqyj.zsj.pojo.BlogType">
        select `blog_type`,count(blog_type) as num from `blog` where `blog_state`=1 group by `blog_type`
    </select>
    <update id="updateBlog">
        update `blog`
        set `blog_title`=#{blogTitle},`blog_type`=#{blogType}
        where `blog_title`=#{blogTitle}
        and `blog_author` = (
                          select `user_id`
                          from `user`
                          where `username`= #{userName} )
    </update>
    <insert id="addBlog">
        insert into `blog` (`blog_id`,`blog_title`,`blog_time`,`blog_content`,`blog_type`,`blog_author`)
        values (null,#{blogTitle},#{blogTime},#{blogContent},#{blogType},(select `user_id` from `user` where `username`=#{userName}))
    </insert>



</mapper>